
documento_tecnico/documento_tecnico.aux

documento_tecnico/documento_tecnico.log

documento_tecnico/documento_tecnico.out

documento_tecnico/documento_tecnico.pdf

documento_tecnico/documento_tecnico.synctex.gz

documento_tecnico/documento_tecnico.toc

documento_tecnico/capitoli/descrizione_servizi.log
